{% extends "blog/base.html" %}
{% block content %}
    
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <table class="rounded">
                    <td>Склад/Магазин:</td>
                    <td>Продукт:</td>
                    <!-- <td>Количество продукта:</td> -->
                    {% for prod in prods %}<tr>
                        <th>{{ prod.name_prod }}</th>
                        <th>{{ prod.qq_sum }}</th>
                        <!-- <th>{{ stock.quantity_stock }}</th>  -->
                    {% endfor %}
                    </tr>
                  </table>
                  

              
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    
{% endblock content %}
